<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-siteapp" /><!-- 百度禁止转码 -->
    <meta name ="viewport" content ="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"> 
    <meta name="format-detection" content="telephone=no,email=no" /> <!-- 禁止自动识别为电话号码和邮件 -->
    <meta name="keywords" content="这里写关键字">
    <meta name="description" content="这里写页面描述">
    <title>关爱通-滴滴出行</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body >
<section class="main-location">
    <a href="#" class="userPhoto">
        <img src="img/photo.png" width="30" height="30" alt="">
    </a>
    <section class="menu border-b flex">
        <div class="menu-item active">快车</div>
        <div class="menu-item">专车</div>
        <span class="menu-line"></span>
    </section>
    <section class="container call-taxi-content">
        
        <h2 class="welcome tc">您好，您现在要去哪？</h2>
        <div class="departure-itme">
            <i class="icon-round-time light"></i><span class="time">现在出发</span><i class="arrow icon-right"></i>
            <input type="text">
        </div>
        <div class="location border-t">
            <div class="hook from-hook border-b">
                <i class="i-circle i-from"></i>
                <span class="txt-hook ellipsis">上海市徐汇区淮海西路55号(近华山路)申通信息广</span>
            </div>
            <div class="hook to-hook border-b">
                <i class="i-circle i-to"></i>
                <span class="txt-hook ellipsis default">请输入您的目的地地址</span>
            </div>
        </div>
        <div>
            <div class="choose-type border-b flex">
                <div class="type-item active">
                    <i class="icon-car-100"></i>
                    舒适型
                    <em class="triangle border-l border-b"></em>
                </div>
                <div class="type-item">
                    <i class="icon-car-200"></i>
                    七座商务
                    <em class="triangle border-l border-b"></em>
                </div>
                <div class="type-item">
                    <i class="icon-car-400"></i>
                    豪华型
                    <em class="triangle border-l border-b"></em>
                </div>
            </div>    
            <div class="tc mt16 clearfix">
                <p><em>试用期间享 <span class="price f20">7折</span> 优惠，</em>本次行程约 <span class="price f24">20</span> 元</p>
                <p class="f12 light">最高减20元</p>
            </div>
            <div class="tc light f12 mt6"><i class="icon-round-peak primary mr4"></i>需求过旺临时调价1.6倍</div>
            <div class="mt16 tips row"><i class="icon-round-uninstall primary"></i>对不起，您当前没有足够的余额支付本单！</div>
            <button class="btn btn-primary mt16" id="calltaxi">呼叫快车</button>
            <div class="tc mt16"><a href="javascript:;">计价规则</a></div>
        </div>
    </section>
</section>

<section class="pop-slide-up">
    <section class="pop-slide-con">
        <div class="pop-slide-con-list flex">
            
            <div class="pop-slide-con-item">
                <div class="pop-slide-hd row">
                    <h3>加价再次确认</h3>
                    <i class="icon-round-close close"></i>
                </div>
                 <div class="pop-slide-bd">
                    <p class="tc f14 normal">我接受因叫车需求过旺产生的临时调价</p>
                    <div class="markup-price flex">
                        <p class="title">加价倍率</p>
                        <div class="scale">
                            x <span class="scale-num">1.6</span> 倍
                        </div>
                        <p class="price">加价后约67元</p>    
                    </div>
                    <p class="tc light f12">报价有效时间为2分钟</p>
                </div>
                <div class="pop-slide-ft">
                    <a class="btn btn-primary" id="confirm" href="javascript:;">我愿意加价</a>
                </div>
            </div>

            <div class="pop-slide-con-item">
                <div class="pop-slide-hd row">
                    <h3>选择付款方式</h3>
                    <i class="icon-round-close close"></i>
                </div>
                 <div class="pop-slide-bd">
                    <div class="m-radio choosePayType">
                        <label class="u-radio border-b">
                            <span class="radio">
                                <input type="radio" name="payMethod">
                                <em class="icon-check"></em>
                            </span>
                            <div class="desc">关爱积分：<span class="temporary-free">暂免服务费</span><span class="fr">1300.00</span></div>
                        </label>
                        <label class="u-radio border-b">
                            <span class="radio">
                                <input type="radio" name="payMethod">
                                <em class="icon-check"></em>
                            </span>
                            <div class="desc">公务卡：<span class="temporary-free">暂免服务费</span><span class="fr">1300.00</span></div>
                        </label>
                        <label class="u-radio border-b">
                            <span class="radio">
                                <input type="radio" name="payMethod">
                                <em class="icon-check"></em>
                            </span>
                            <div class="desc">公务卡：<span class="temporary-free">暂免服务费</span><span class="fr">1300.00</span></div>
                        </label>
                    </div>
                </div>
                <div class="pop-slide-ft">
                    <div class="mb10">
                        <label class="u-checkbox">
                            <span>
                                <input type="checkbox" checked name="agreeAutoPay">
                                <em class="icon-check"></em>
                            </span>
                            <div class="desc light">我同意关爱通使用我的已选资产在行程后自动支付</div>
                        </label>
                    </div>
                    <a class="btn btn-primary" href="calltaxi.html">确认</a>
                </div>
            </div>
        </div>
        
    </section>
</section>

<section class="suggest" style="display: none;"> 
    <div class="border-b option flex"> 
        <div class="city-select city-select-wrapper-hook border-r" style="width:82px;"> 
            <div class="city-select-hook">
                <span class="cityname" data-id="4">上海市</span>
                <i class="i-arrow-down"></i>
            </div> 
            <input class="city-input city-input-hook" type="text" placeholder="城市中文名或拼音" style="display: none;"> 
        </div> 
        <div class="address-select address-select-hook" style="left: 82px;"> 
            <input type="text" class="address-input address-input-hook" placeholder="您要去哪儿"> 
        </div> 
        <div class="cancel cancel-hook link">取消</div> 
    </div> 
    <div class="pos-wrapper pos-wrapper-hook"> 
        <ul class="pos-scroller-hook">
            <li data-index="0" class="border-b flex has-address">
            <span class="name name-hook ellipsis">虹桥机场</span>
            <span class="address address-hook ellipsis">虹桥机场</span>
            <input type="hidden" class="lat-hook" value="31.191649909374">
            <input type="hidden" class="lng-hook" value="121.34314769445">
            <!---->
            </li>

            <li data-index="1" class="border-b flex has-address">
            <span class="name name-hook ellipsis">浦东机场2号航站楼</span>
            <div class="address address-hook ellipsis">浦东机场2号航站楼浦东机场2号航站楼浦东机场2号航站楼浦东机场2号航站楼</div>
            <input type="hidden" class="lat-hook" value="31.153161300694">
            <input type="hidden" class="lng-hook" value="121.80464596945">
            <!---->
            </li>
        </ul> 
    </div> 
    <div class="city" style="display: none;">
        <div class="city-wrapper city-wrapper-hook">
            <div class="scroller-hook">
                <div class="current current-hook">当前城市：{{loc.defaultCity.cityName}}</div>
                <div class="cities cities-hook">
                    <div ng-repeat="cityGroup in cityGroups">
                        <div class="title">{{cityGroup.groupName}}</div>
                        <ul>
                            <li ng-repeat="city in cityGroup.cities" class="item border-b" data-name="{{city.cityName}}" data-id="{{city.cityId}}">
                                {{city.cityName}}
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="shortcut shortcut-hook">
                    <ul>
                        <li data-anchor="★" class="item">★</li>
                        <li data-anchor="A" class="item">A</li>
                        <li data-anchor="B" class="item">B</li>
                        <li data-anchor="C" class="item">C</li>
                        <li data-anchor="D" class="item">D</li>
                        <li data-anchor="E" class="item">E</li>
                        <li data-anchor="F" class="item">F</li>
                        <li data-anchor="G" class="item">G</li>
                        <li data-anchor="H" class="item">H</li>
                        <li data-anchor="J" class="item">J</li>
                        <li data-anchor="K" class="item">K</li>
                        <li data-anchor="L" class="item">L</li>
                        <li data-anchor="M" class="item">M</li>
                        <li data-anchor="N" class="item">N</li>
                        <li data-anchor="P" class="item">P</li>
                        <li data-anchor="Q" class="item">Q</li>
                        <li data-anchor="R" class="item">R</li>
                        <li data-anchor="S" class="item">S</li>
                        <li data-anchor="T" class="item">T</li>
                        <li data-anchor="W" class="item">W</li>
                        <li data-anchor="X" class="item">X</li>
                        <li data-anchor="Y" class="item">Y</li>
                        <li data-anchor="Z" class="item">Z</li>
                    </ul>
                </div>
            </div>
            <div class="match match-hook">
                <ul class="match-scroller-hook"></ul>
            </div>
        </div>
    </div>

</section>


<script src="http://cdn.guanaitong.com/s2/mobile/V5.0/js/jquery.js"></script>
<script src="http://cdn.guanaitong.com/s2/mobile/V5.0/js/gat.AlertMessage.js"></script>
<script src="../../public/js/gat.PopSlideUp.js"></script>
<script src="js/jquery.timePicker.js"></script>
<script>
    $(function(){

        $('.departure-itme').timePicker(function(result){
            $(this).find('input').eq(0).val(result);
        })

        $('.hook').click(function(){
            $('.suggest').show();
            $('.address-input-hook').focus();
            $('.main-location').hide();
        })


        $('.city-select-hook').click(function(){
            citySelectFocus();
        })


        $('.address-input-hook').focus(function(event) {
            addressSelectFocus();
        });

        $('.cancel-hook').click(function(){
            $('.suggest').hide();
            $('.main-location').show();
            addressSelectFocus();
        })


        function citySelectFocus(){
            var $o = $('.city-select-hook')
            $o.hide().siblings().show().focus().end().parent().width(160);
            $('.pos-wrapper-hook').hide();
            $('.city').show();
        }

        function addressSelectFocus(){
            var $o = $('.city-select-hook')
            $o.show().siblings().hide().end().parent().width(82);
            $('.pos-wrapper-hook').show();
            $('.city').hide();
        }

        $('#calltaxi').click(function() {
            $('.pop-slide-con-list').css({'transform':'translateX(0)'})
            popSildeUp.show(document.querySelectorAll('.pop-slide-up')[0]);
        });


        $('#confirm').click(function(event) {
            $(this).parents('.pop-slide-con-list').css('transform','translateX(-100%)');
            return false;
        });
    })
</script>
<script type="text/javascript">
 /*   //未开启定位服务
   message.showMessage({
        'btnTxt':'我知道了',
        'content':'未授权使用定位，请检查设置后重试。'
    });
   
   
    //未连接网络
    message.showNotify({
        'content':'<i class="icon-round-uninstall" style="font-size:40px; "></i><p class="f12 mb10">未连接网络，请检查<br />WIFI或数据是否开启</p>'
    })

    //订单进行中
   message.showConfirm({
        'rightBtnTxt': '进入',
        'content': '您有一个专车订单正在进行中',
        'rightBtnCallback': function(){
            alert('去订单详情');
        }
    });

    //您有一个待支付订单
    message.showConfirm({
        'title': '您有一个待支付订单',

        'rightBtnTxt': '立即支付',
        'content': '完成支付后即可享用我们的服务',
        'rightBtnCallback': function(){
            alert('去支付页');
        }
    });*/


</script>
</body>
</html>






