/* 首页 */
.search{ height: 44px; background: rgba(239,48,46,100); padding:6px 12px; color: #333; -webkit-transition:.2s; transition:.2s;}
.search label{width: 40px; display: block;}
.search input{ width: 100%; padding-left:28px; border:none; height: 28px; line-height: 28px; border-radius: 4px; background: #D52A14; color: #fff; -webkit-transition:.2s; transition:.2s;}
.search input::-webkit-input-placeholder { color: #fff; }
.search-focus{ background: #fff;}
.search-focus input{ background: #eaeaea; color: #333;}
.search-focus input::-webkit-input-placeholder { color: #999; }
.icon-center{ position: absolute; left: 7px;top: 4px;}
.indexbanner{ margin-bottom: 8px;}
.indexbanner .swiper-pagination {bottom: 7px;}
.indexbanner .swiper-pagination .swiper-pagination-bullet{ opacity: 1; background:rgba(255,255,255,0.5);}
.indexbanner .swiper-pagination .swiper-pagination-bullet-active{ background:rgba(255,255,255,1);}
.quick-entry-nav{ padding: 1rem 0; text-align: center; background: #fff;}
.quick-entry-nav img{ width: 3.75rem; height: 3.75rem;}
.quick-entry-nav p{ font-size: 1rem; color: #666; letter-spacing: -0.3px; margin-top: 0.83333rem;}
.list-title{ background: #fff; text-align: center; position: relative; padding: 10px 12px; margin-bottom: 0 !important;}
.list-title .more{ position: absolute; right: 12px; top: 7px;}
.rmbanner li{ padding: 16px 0 0;}
.rmbanner li:first-child::before{ background-color:#fff;}
.rmbanner p{ padding:0 10px; margin: 6px 0; line-height: 14px;}
.rmbanner a{ display: block; line-height: 0;}
.rmbanner img{ width: 8.5rem;}
.weekbanner{ background-color: #fff; overflow: hidden; margin-bottom: 8px; }
.theme-list{ background: #fff;}
.theme-list li{ float: left; width: 33.33333%; text-align: center; padding-bottom: 15px;}
.theme-list li:nth-child(3n)::after{ background-color:#fff;}
.theme-list p{ font-size: 14px; padding: 0 10px; margin: 15px 0; line-height: 14px;}
.theme-list img{ width: 5.8rem; height: 5.8rem;}
.footer{ height: 50px; text-align: center; background: #f8f8f8;}
.footer i{ display: block;}
.footer a{ color: #666; display: block; width: 100%; font-size: 10px;}
.footer .flex-box{ height: 50px;}
.factive a,.factive i{ color: #db4435!important;}
.search-list{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #fff; z-index: 90; line-height: 50px; font-size: 14px; border-top: 44px solid transparent;}


/*弹层*/
.pop-slide-address{ right: 0; margin: 0 auto; max-width: 640px;}
.pop-slide-address-cont{ width: 100%; height: 360px; overflow: hidden; position: relative;}
.pop-slide-address-move{ -webkit-transition:.3s; transition:.3s; display: -webkit-box; display: box;}
.default-address{ height: 310px; padding: 0 12px; position: relative; overflow-y: auto; -webkit-overflow-scrolling: touch; width: 100%;}
.default-address .m-group{ padding: 14px 0px;}
.pop-slide-address-cont .btn-primary{ position: absolute; left: 0; bottom: 0; width: 100%; height: 50px; line-height: 50px; border-radius: 0; z-index: 2;}
.default-address .active .icon-location{ color: #f00; }
.default-address .active .icon-check{ display: block;}
.chose-address{ width: 100%; }
.address-title{ padding:12px 15px;}
.address-list-title{ padding: 0 12px; overflow: hidden;}
.address-list-title li{ float: left; padding: 6px 0; margin-right: 8px; border-bottom: 1px solid #fff;}
.address-list-title .curr{ color: #EF302E; border-bottom-color: #EF302E; }
.address-list { -webkit-transition:.3s; transition:.3s; display: -webkit-box; display: box;}
.address-list li{ padding: 0 12px; width: 100%; height: 330px; overflow-y: auto; -webkit-overflow-scrolling: touch;}
.address-cont p{ padding: 12px 0;}
.address-cont p.active{ color: #f00;}
.address-cont p.active .icon-check{ color: #f00; font-size: 12px; display: inline-block; margin-left: 10px;}

/* 分类 */
.classify-left{ position: fixed; z-index: 2; left: 0; border-top: 44px solid transparent; border-bottom: 50px solid transparent; top: 0; width: 80px; height: 100%; overflow-y: auto; -webkit-overflow-scrolling: touch; background: #fff; text-align: center;}
.classify-left li{ height: 46px; line-height: 46px; color: #333;}
.classify-left li.active{ background: #f2f2f2; color: #EE3127;}
.classcont{ margin-left: 80px; padding: 6px 8px; overflow: hidden;}
.classcont .cont-title{padding: 8px 0 10px; font-size: 12px; color: #000;}
.classcont .cont-list{ float: left; width: 33.33333%; text-align: center; padding: 12px 0;}
.classcont .cont-list img{ width: 4.1rem; height: 4.1rem; margin-bottom: 18px;}

/*商品列表*/
.ranklist{ height: 44px; text-align: center; font-size: 14px; background: #fff;}
.ranklist .rankcont{ height: 12px; line-height: 12px; position: relative;}
.icon-san{ display: block; position: absolute;z-index: 9; font-size: 12px;}
.icon-san.icon-up{ right: 2rem; top: -3px;}
.icon-san.icon-unfold{ right: 2rem; bottom: -3px;}
.rankactve{ color: #FD322B;}
.sanactive{ color: #FD322B;}
.shoplist{ padding-top:6px; overflow: hidden;}
.shoplist li:nth-child(2n-1){ padding: 0 3px 0 6px; width: 50%; float: left; margin-bottom: 6px;}
.shoplist li:nth-child(2n){ padding:0 6px 0 3px; width: 50%; float: left; margin-bottom: 6px;}
.shoplist img{ width: 100%; height: 15rem;}
.shopintro{ padding:6px; background: #fff; height: 75px;}
.shopintro p:first-child{height: 28px; line-height: 14px;}
.shopintro p{ margin-bottom: 10px; color: #333; overflow: hidden;}
.to-top{ position: fixed; right: 8px; bottom: 60px; display: none; width: 35px; height: 35px; background-image: url(../img/to-top.png); background-size: 100%; background-repeat: no-repeat;}
.no-goods-mask{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(255,255,255,.5); display: none;}
.no-goods-cont{ position: absolute; left: 0; right: 0; top: 25%; margin:0 auto; width: 60px; height: 60px; border-radius: 50%; background: rgba(0,0,0,.6); color: #fff; text-align: center; padding-top: 10px; z-index: 9; display: none;}
.no-goods-cont .lines{ width: 40px; height: 1px; line-height: 0; font-size: 0; display: block; margin: 2px auto; overflow: hidden;}
.no-goods-cont .lines:before{content: '';float: left; width: 40%; height: 1px; background: #fff; overflow: hidden;}
.no-goods-cont .lines:after{content: '';float: right; width: 40%; height: 1px; background: #fff; overflow: hidden;}
.not-available .no-goods-mask,.not-available .no-goods-cont{ display: block; }
.not-available .fc-3,.not-available .price{ color: #999 !important; }

/*商品详情*/
.goodsbanner .swiper-pagination {bottom: 7px;}
.goodsbanner .swiper-pagination .swiper-pagination-bullet{ opacity: 1; background:rgba(255,255,255,0.5);}
.goodsbanner .swiper-pagination .swiper-pagination-bullet-active{ background:rgba(239,48,46,1);}
.goodsbanner img{ height: 31.25rem; }
.form-group{position: relative; background: #fff; width: 100%; padding-top: 12px; padding-right: 12px; padding-bottom: 12px; padding-left: 12px; }
.form-label{font-size: 14px; color: #333; width: 82px; padding-right: 12px; white-space:nowrap;}
.form-ellips{ width: 18px; height: 14px; background: url(../img/ellipsi.png); background-size: 100%; background-position: 0 8px; background-repeat: no-repeat;}
.form-control-box{position: relative; -webkit-box-flex:1; box-flex:1;}
.goodsnumber .numberactive{ width: 30px; height: 28px; line-height: 28px; float: left; background: #f2f2f2; color: #333; text-align: center; margin-right: 2px;}
.numberactive.icon-minus{ border-radius: 3px 0 0 3px; font-size:12px;}
.numberactive.icon-add{ border-radius: 0 3px 3px 0; font-size:12px;}
.goodsnumber .disabled{ color: #999;}
.similar-banner{ padding-bottom: 10px; }
.similar-banner .shoplist{ padding:0 3px; background-color: #fff;}
.similar-banner .shoplist li{ width: 33.33333%; padding: 0 3px;}
.similar-banner .shoplist li img{ height: 10rem; }
.similar-banner .shoplist li p{ margin-bottom: 4px; }
.similar-banner .shopintro{ height: 65px; }
.similar-pagination {bottom: 7px;}
.similar-pagination .swiper-pagination-bullet{ opacity: 1; background:rgba(242,242,242,1);}
.similar-pagination .swiper-pagination-bullet-active{ background:rgba(239,48,46,1);}
.goods-cont{ height: 38px; width: 100%; background: #fff;}
.goods-fixed{ width: 100%; left: 0; top: 0; height: 38px; z-index: 9;}
.goods-number{ position: absolute; top: 0px; left: 50%; padding:2px; font-size: 8px; display: inline-block; min-width: 12px; height: 12px; border:1px solid #fff; border-radius: 9px; background: #EE3127; color: #fff; line-height: 6px;vertical-align: middle; text-align: center;}
.goods-no-prompt{ position: fixed; width: 100%; left: 0; z-index: 2; bottom: 50px; height: 28px; line-height: 28px; background: rgba(255,255,255,0.7); text-align: center;}
.goods-list{width: 100%; position: relative; display: -webkit-box; display: box; -webkit-transition:.3s; transition:.3s;}
.goods-show{ overflow: hidden; }
.goods-list-cont{ width: 100%; }
.goods-list-cont table{ width: 100%; }
.goods-list-cont>div{ width: 100% !important; }
.goods-list-cont .formwork_titleleft{ line-height: 20px; }
.goods-list-cont .formwork_titleleft2{ line-height: 20px; }
.goods-list-cont .formwork_img{ width:100%;}
.goods-list-cont .formwork_text{padding:12px;}
.goods-list-cont .formwork_bt_rb,.goods-list-cont .formwork_bt{ width: 100% !important; }
.goods-list-cont img{ width: 100%; line-height: 0; }

/*购物车*/
.u-radio,.u-checkbox{font-size: 14px; cursor: pointer; padding-left: 24px; line-height: 16px; display: inline-block; vertical-align: middle; position: relative; vertical-align: middle;}
.u-radio span,.u-checkbox span{position: absolute; left:0; top: 50%; width: 16px; height: 16px; -webkit-transform:translateY(-50%); transform:translateY(-50%);}
.u-radio span em,.u-checkbox span em{ position: absolute; top: 0; left: 0; width:16px; height: 16px; overflow: hidden; cursor: pointer; border:1px solid #bbb;  text-align: center; font-size: 10px; -webkit-transition:.1s; transition:.1s; border-radius: 50%;}
.u-checkbox span em{border-radius: 0}
.u-radio span em:before,.u-checkbox span em:before{color: #fff}
.u-radio input,.u-checkbox input{display: none}
.u-radio input:checked+em,.u-checkbox input:checked+em{border-color: #ff5b64; background-color: #ff5b64; color: #fff}

.order-detail{ padding-bottom: 80px;}
.order-header{height: 44px; font-size: 14px; color: #333; padding: 0 12px; background: #fff;}
.order-header .jd-logo{ background-image: url(../img/jd.png); background-repeat: no-repeat; background-size: 15px 12px; background-position: 2px 4px; padding-left: 22px; }
.order-detail .u-radio{ width: 30px; height: 30px; z-index: 2;}
.order-entity{background: #fff; font-size: 12px; width: 100%; overflow: hidden; position: relative;}
.order-entity-item{padding:10px 12px; line-height: 18px; position: relative;}
.order-entity-item .entity-img{width: 86px; height: 86px; border-radius: 4px; overflow: hidden; margin-right: 10px; position: relative;}
.order-entity-item .entity-img.sm{ width: 50px; height: 50px; }
.order-entity-item .entity-img img{width: 100%;}
.order-entity-item .entity-desc{display: -webkit-box; display: box; -webkit-box-flex:1; box-flex:1; -webkit-box-orient:vertical;
    box-orient:vertical; }
.order-entity-item .entity-desc .title{display: -webkit-box; display: box; -webkit-line-clamp: 2; line-clamp: 2; overflow : hidden; text-overflow: ellipsis; -webkit-box-orient:vertical; margin-bottom: 14px; height: 32px; line-height: 16px;}
.entity-desc .sku{ overflow: hidden; position: relative; }
.entity-desc .sku .icon-car{ position: absolute; right: 0; top: 0; border:1px solid #EF302E; color: #EF302E; border-radius: 3px; font-size: 16px; height: 26px;  padding:4px;}
.not-entity .no-goods-mask,.not-entity .no-goods-cont{ display: block;}
.not-entity .no-goods-cont{ top: 0; bottom: 0; margin: auto; }
.not-entity .goodsnumber{ display: none; }
.not-entity .price{ color: #666 !important; }
.not-entity .icon-car{ color: #666 !important; border-color:#666 !important;}
.settlement{ height: 50px; width: 100%;	 background: #fff; position: fixed; left: 0; bottom: 50px; padding-left: 12px; z-index: 2;}
.settlement-heart .btn{ width: 80px;}

/*购物车为空*/
.mycar-no{ position: absolute; width: 100%; left: 0; top: 50%; z-index: 1; text-align: center;-webkit-transform:translateY(-50%); transform:translateY(-50%);}
.mycar-no span{ position: relative; display: inline-block; line-height: 90px; vertical-align: middle; width: 90px; height: 90px; border-radius: 45px; background: #D8D8D8; }
.mycar-no p{ margin: 16px 0; }
.mycar-no i{color: #fff; font-size: 56px; }

/*填写订单*/
.spacing{ padding: 0 12px; background: #fff;}
.m-group{ padding: 14px 12px; background: #fff; font-size: 14px;}
.m-group.sm{ padding: 8px 12px; background: #fff;}
.spacing .order-entity-item{ padding: 12px 0; }
.spacing .m-group{ padding: 14px 0px;}
.spacing .m-group.sm{ padding: 8px 0px;}
.adres-cont{ padding-left: 20px; padding-right: 20px; position: relative; font-size: 14px; overflow:hidden;}
.adres-cont-name{width: 84px; height:16px; float:left; display: -webkit-box;display: box;-webkit-line-clamp: 1;line-clamp: 1;overflow: hidden;text-overflow: ellipsis;-webkit-box-orient: vertical;}
.adres-cont i{ position: absolute; left: 0; top: 0px; font-size: 16px; }
.adres-cont .cancel-order{ width: 14px; height: 14px; background-image: url(../img/cancel.png); background-size: 100%; background-repeat: no-repeat; top: 2px; }
.m-group .icon-right{ position: relative; top: -1px; }

/*订单跟踪*/
.order-tracking{padding-left: 26px; color: #999;}
.order-tracking li{ padding:8px 0; position: relative;}
.order-tracking .track-lines{ position: absolute; left: -18px; top: 0; width: 1px; display: block; height: 100%; background: #ccc;}
.order-tracking .track-square{ position: absolute; left: -20.5px; top: 15px; width: 6px; height: 6px; border-radius: 3px; background: #ccc; }
.order-tracking-red .track-square{ background: #EF302E; top:13px;}
.order-tracking li:first-child p:first-child{ color: #333;}
.order-tracking li:last-child:after{ background-color: #fff;}
.order-tracking li:last-child .track-lines{ height: 18px;}
.order-tracking li:first-child .track-lines{ height: 80%; bottom: 0; top: auto;}
.order-tracking li:first-child .track-square{ width: 12px; height: 12px; background: #EF302E; border:2px solid #FCC9C9; border-radius: 6px; left: -23.5px; top: 12px;}
.order-tracking-red li:first-child .track-square{ width: 6px; height: 6px; background: #EF302E; border:0px; border-radius: 3px; left: -20.5px; top: 13px;}

/*我的*/
.my-photo{ width: 56px; height: 56px; border-radius: 28px; overflow: hidden; border: 2px solid #FD7B79; margin: 0 6px; }

/*我的关注*/
.fixed-car{ position: fixed; z-index: 9; right: 12px; bottom: 15%; border: 1px solid #999; color: #999; border-radius: 50%; font-size: 18px; height: 34px; width: 34px; padding: 5px; text-align: center; line-height: 22px; background: #fff;}
.fixed-car .goods-number{ top: -3px; left: 54%; font-style: normal; white-space:nowrap;}
.focus-heart{ line-height: 44px; height: 44px; background-color: #fff; font-size: 14px; padding: 0 12px;}
.focus-heart .editor{ font-size: 16px; color: #666; }
/*帮助中心*/
.time{ -webkit-transition:.2s; transition:.2s;}
.help-cont{ display: none; }
.help-show .icon-right{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);}
.help-show .help-cont{ display: block; }

.after-sales{ background-color: #FFF7B3; }
.after-sales .icon-round-uninstall{ color: #F14E4D; }

/* 单独样式 */
.pos-a { position: absolute; }
.pos-r { position: relative; }
.pos-f { position: fixed; }
.d-ib { display: inline-block;}
.hide { display: none; }
.hide-i { display: none !important; }
.show { display: block; }
.of-h { overflow: hidden; }
.of-v { visibility:hidden; }
.of-s { -webkit-overflow-scrolling: touch; overflow-y: auto; overflow-x: hidden;}
.tc { text-align: center; }
.tl { text-align: left; }
.tr { text-align: right; }
.vm { vertical-align: middle; }
.vb { vertical-align: sub; }
.vt { vertical-align: top; }
.fl { float: left; }
.fr { float: right; }
.fb{ font-weight: bold;}
.nb{ font-weight: normal;}
.td-r{ text-decoration: line-through;}
.clearfix:after{display: block; clear: both; visibility: hidden; height: 0; overflow:hidden; content:" ";}
.border-n{ border:none !important;}
.border-tn{ border-top: none !important;}
.border-bn{ border-bottom: none !important;}

.opacity0 { opacity: 0; filter: alpha(opacity=00); }
.opacity5 { opacity: 0.5; filter: alpha(opacity=50); }

.fc-f { color: #fff; }
.fc-3 { color: #333; }
.fc-6 { color: #666; }
.fc-9 { color: #999; }
.fc-c { color: #ccc; }
.fc-b { color: #bbb; }
.fc-d8{ color: #D8D8D8; }
.price,.primary{ color: #f00 !important; }
.sky{ color: #2181F7; }

.bg-default{background: #f2f2f2;}
.bg-grey{background: #f8f8f8;}
.bg-primary{background: #EF302E;}
.bg-sun{ background: #FF824A; }
.bg-mine{background: #F05354;}
.bg-f{ background: #fff;}

.fs-10{ font-size: 10px;}
.fs-12{ font-size: 12px;}
.fs-14{ font-size: 14px;}
.fs-16{ font-size: 16px;}
.fs-18{ font-size: 18px;}
.fs-24{ font-size: 24px;}

.lh0{ line-height: 0px;}
.lh14{ line-height: 14px;}
.lh20{ line-height: 20px;}
.lh26{ line-height: 26px;}
.lh44{ line-height: 44px;}
.lh50{ line-height: 50px;}

.per40{ width: 40%;}
.per80{ width: 80%;}

.mt8{ margin-top: 8px;}
.mt14{ margin-top: 14px;}
.mr3{ margin-right: 3px;}
.mr8{ margin-right: 8px;}
.mr14{ margin-right: 14px;}
.mr26{ margin-right: 26px;}
.mb0{ margin-bottom: 0px !important;}
.mb4{ margin-bottom: 4px !important;}
.mb8{ margin-bottom: 8px;}
.mb10{ margin-bottom: 10px;}
.mb16{ margin-bottom: 16px;}
.ml4{ margin-left: 4px;}
.ml10{ margin-left: 10px;}
.ml26{ margin-left: 26px;}
.pt10{ padding-top: 10px;}
.pr14{ padding-right: 14px;}
.pb0{ padding-bottom: 0; }
.pb12{ padding-bottom: 12px; }
.pl8{ padding-left: 8px; }
.plr5{ padding-left:5px; padding-right:5px;}
.plr12{ padding-left:12px; padding-right:12px;}
.plr16{ padding-left:16px; padding-right:16px;}
.plr22{ padding-left:22px; padding-right:22px;}
.ptb16{ padding-top: 16px; padding-bottom: 16px;}










