html { font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
body { margin: 0; font-size: 12px;  line-height: 1.42857; color: #666; background-color: #fff;}
article, footer, header,  nav, section,pre { display: block; }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
ul, ol, li, dl, dt, dd, div, h1, h2, h3, h4, h5, h6, p, form, td, th{ margin: 0; padding: 0; }
ul, ol { list-style: none; }
body, a, img{ -webkit-touch-callout: none;}
a {text-decoration: none; cursor: pointer; color: #55c1e7; outline: none; font-size: 12px; -webkit-tap-highlight-color:rgba(0,0,0,0);}
a:active{outline: none;}
small { font-size: 80%; }form-label
img { border: 0; vertical-align: middle; }
h1,h2,h3,h4,h5{color: #333; font-size: 100%;}
label{font-size:14px; color: #333; white-space:nowrap;}
button, input, select, textarea{color: inherit; font: inherit; margin: 0;  padding: 0; -webkit-tap-highlight-color:rgba(0,0,0,0); font-weight: normal; }
label{-webkit-tap-highlight-color:rgba(0,0,0,0); font-weight: normal; }
button:focus,input:focus,{ outline: none; -webkit-tap-highlight-color:rgba(0,0,0,0);} 
*[wx-forward-url]{cursor: pointer; -webkit-tap-highlight-color:rgba(0,0,0,0);}
button, select {text-transform: none; -webkit-appearance: none}
button, input[type="button"],input[type="number"], input[type="reset"], input[type="submit"] ,input[type="checkbox"]{ -webkit-appearance: none; cursor: pointer; border:none; border-radius: 0; }
button[disabled], html input[disabled] { cursor: default; }
input,select{font-size: 14px; line-height: normal;}
input[type="checkbox"], input[type="radio"] {padding: 0; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] {-webkit-appearance: textfield; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
table { border-collapse: collapse; border-spacing: 0; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #ccc; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #ccc; }
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box;}
input:focus,textarea:focus {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


/*项目图标*/
@font-face {font-family: "iconfont";
 src: url('../font/iconfont.eot');
 src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
 url('../font/iconfont.woff') format('woff'), 
 url('../font/iconfont.ttf') format('truetype'),
 url('../font/iconfont.svg#iconfont') format('svg');
}          


[class^="icon-"]:before, [class*=" icon-"]:before{font-family:"iconfont" !important; font-style:normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale; display: inline-block; }
[class^="icon-"],[class*=" icon-"]{color: #bbb; font-size: 16px;}
.icon-lg[class^="icon-"],.icon-lg[class*=" icon-"]{font-size: 20px;}
.icon-xl[class^="icon-"],.icon-xl[class*=" icon-"]{font-size: 60px;}
.icon-close:before { content: "\e602"; }
.icon-right:before { content: "\e603"; }
.icon-round-check:before { content: "\e604"; }
.icon-round-check-fill:before { content: "\e605"; }
.icon-round-close:before { content: "\e606"; }
.icon-check:before { content: "\e600"; }
.icon-add:before { content: "\e601"; }
.icon-cart:before { content: "\e607"; }
.icon-gift:before { content: "\e608"; }
.icon-home:before { content: "\e609"; }
.icon-location:before { content: "\e60a"; }
.icon-minus:before { content: "\e60b"; }
.icon-my:before { content: "\e60c"; }
.icon-news:before { content: "\e60d"; }
.icon-order:before { content: "\e60e"; }
.icon-order-none:before { content: "\e60f"; }
.icon-remind:before { content: "\e610"; }
.icon-order-canceled:before { content: "\e611"; }
.icon-tabulation:before { content: "\e612"; }
.icon-search:before { content: "\e613"; }
.icon-address-book:before { content: "\e614"; }
.icon-round-wifi-none:before { content: "\e616"; }
.icon-round-uninstall:before { content: "\e617"; }
.icon-round-time:before { content: "\e615"; }
.icon-shop:before { content: "\e618"; }
.icon-asset:before { content: "\e619"; }


.icon-weixin,.icon-weixin-check{background:url(../img/icon-weixin.png) no-repeat; -webkit-background-size: 20px auto; background-size: 20px auto; vertical-align: middle; display: inline-block;}
.icon-weixin{width: 20px; height: 16px; background-position: center 0;}
.icon-weixin-check{width: 20px; height: 16px; background-position: center -16px;}

.view{position: absolute; left: 0; bottom: 0; right: 0; top: 0; padding-bottom: 20px; -webkit-overflow-scrolling: touch; overflow-y: auto; overflow-x: hidden;}

/*栅格系统*/
.container{padding-left: 12px; padding-right: 12px;}
.box{background-color: #fff;}
.row{margin-left: -6px; margin-right: -6px;}
.row-full{margin-left: -12px; margin-right: -12px;}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {position: relative; min-height: 1px; padding-left: 6px; padding-right: 6px; float: left;}
.col-xs-12 {width: 100%;}
.col-xs-11 {width: 91.66666667%;}
.col-xs-10 {width: 83.33333333%;}
.col-xs-9 {width: 75%;}
.col-xs-8 {width: 66.66666667%;}
.col-xs-7 {width: 58.33333333%;}
.col-xs-6 {width: 50%;}
.col-xs-5 {width: 41.66666667%;}
.col-xs-4 {width: 33.33333333%;}
.col-xs-3 {width: 25%;}
.col-xs-2 {width: 16.66666667%;}
.col-xs-1 {width: 8.33333333%;}
.col-xs-offset-12 {margin-left: 100%;}
.col-xs-offset-11 {margin-left: 91.66666667%;}
.col-xs-offset-10 {margin-left: 83.33333333%;}
.col-xs-offset-9 {margin-left: 75%;}
.col-xs-offset-8 {margin-left: 66.66666667%;}
.col-xs-offset-7 {margin-left: 58.33333333%;}
.col-xs-offset-6 {margin-left: 50%;}
.col-xs-offset-5 {margin-left: 41.66666667%;}
.col-xs-offset-4 {margin-left: 33.33333333%;}
.col-xs-offset-3 {margin-left: 25%;}
.col-xs-offset-2 {margin-left: 16.66666667%;}
.col-xs-offset-1 {margin-left: 8.33333333%;}
.col-xs-offset-0 {margin-left: 0%;}
@media (min-width: 480px) {
	.col-sm-12 {width: 100%;}
	.col-sm-11 {width: 91.66666667%;}
	.col-sm-10 {width: 83.33333333%;}
	.col-sm-9 {width: 75%;}
	.col-sm-8 {width: 66.66666667%;}
	.col-sm-7 {width: 58.33333333%;}
	.col-sm-6 {width: 50%;}
	.col-sm-5 {width: 41.66666667%;}
	.col-sm-4 {width: 33.33333333%;}
	.col-sm-3 {width: 25%;}
	.col-sm-2 {width: 16.66666667%;}
	.col-sm-1 {width: 8.33333333%;}
	.col-sm-offset-12 {margin-left: 100%;}
	.col-sm-offset-11 {margin-left: 91.66666667%;}
	.col-sm-offset-10 {margin-left: 83.33333333%;}
	.col-sm-offset-9 {margin-left: 75%;}
	.col-sm-offset-8 {margin-left: 66.66666667%;}
	.col-sm-offset-7 {margin-left: 58.33333333%;}
	.col-sm-offset-6 {margin-left: 50%;}
	.col-sm-offset-5 {margin-left: 41.66666667%;}
	.col-sm-offset-4 {margin-left: 33.33333333%;}
	.col-sm-offset-3 {margin-left: 25%;}
	.col-sm-offset-2 {margin-left: 16.66666667%;}
	.col-sm-offset-1 {margin-left: 8.33333333%;}
	.col-sm-offset-0 {margin-left: 0%;}
}
@media (min-width: 736px) {
	.col-md-12 {width: 100%;}
	.col-md-11 {width: 91.66666667%;}
	.col-md-10 {width: 83.33333333%;}
	.col-md-9 {width: 75%;}
	.col-md-8 {width: 66.66666667%;}
	.col-md-7 {width: 58.33333333%;}
	.col-md-6 {width: 50%;}
	.col-md-5 {width: 41.66666667%;}
	.col-md-4 {width: 33.33333333%;}
	.col-md-3 {width: 25%;}
	.col-md-2 {width: 16.66666667%;}
	.col-md-1 {width: 8.33333333%;}
	.col-md-offset-12 {margin-left: 100%;}
	.col-md-offset-11 {margin-left: 91.66666667%;}
	.col-md-offset-10 {margin-left: 83.33333333%;}
	.col-md-offset-9 {margin-left: 75%;}
	.col-md-offset-8 {margin-left: 66.66666667%;}
	.col-md-offset-7 {margin-left: 58.33333333%;}
	.col-md-offset-6 {margin-left: 50%;}
	.col-md-offset-5 {margin-left: 41.66666667%;}
	.col-md-offset-4 {margin-left: 33.33333333%;}
	.col-md-offset-3 {margin-left: 25%;}
	.col-md-offset-2 {margin-left: 16.66666667%;}
	.col-md-offset-1 {margin-left: 8.33333333%;}
	.col-md-offset-0 {margin-left: 0%;}
}
@media (min-width: 1024px) {
	.col-lg-12 {width: 100%;}
	.col-lg-11 {width: 91.66666667%;}
	.col-lg-10 {width: 83.33333333%;}
	.col-lg-9 {width: 75%;}
	.col-lg-8 {width: 66.66666667%;}
	.col-lg-7 {width: 58.33333333%;}
	.col-lg-6 {width: 50%;}
	.col-lg-5 {width: 41.66666667%;}
	.col-lg-4 {width: 33.33333333%;}
	.col-lg-3 {width: 25%;}
	.col-lg-2 {width: 16.66666667%;}
	.col-lg-1 {width: 8.33333333%;}
	.col-lg-offset-12 {margin-left: 100%;}
	.col-lg-offset-11 {margin-left: 91.66666667%;}
	.col-lg-offset-10 {margin-left: 83.33333333%;}
	.col-lg-offset-9 {margin-left: 75%;}
	.col-lg-offset-8 {margin-left: 66.66666667%;}
	.col-lg-offset-7 {margin-left: 58.33333333%;}
	.col-lg-offset-6 {margin-left: 50%;}
	.col-lg-offset-5 {margin-left: 41.66666667%;}
	.col-lg-offset-4 {margin-left: 33.33333333%;}
	.col-lg-offset-3 {margin-left: 25%;}
	.col-lg-offset-2 {margin-left: 16.66666667%;}
	.col-lg-offset-1 {margin-left: 8.33333333%;}
	.col-lg-offset-0 {margin-left: 0%;}
}

/**/
.bg-inverse{background-color: #f2f2f2;}

/*字体颜色*/
.warning{color: #f00;}
.light{color: #999;}
.primary{color:#ff814a;}
.normal{color:#666;}
.dark{color: #333;}

.lh20{line-height: 20px;}

/*上下间距*/
.mt16{margin-top: 16px;}
.mt32{margin-top: 32px;}
.mt25{margin-top: 25px;}
.mt50{margin-top: 50px;}
.mr10{margin-right: 10px;}
.mb10{margin-bottom: 10px;}
.ml10{margin-left: 10px;}
.mt24{margin-top: 24px;}
.mb6{margin-bottom: 6px;}
.mt8{margin-top: 8px;}

/*字体大小*/
.f10{font-size: 10px;}
.f12{font-size: 12px;}
.f14{font-size: 14px;}
.f16{font-size: 16px;}
.f18{font-size: 18px;}
.f20{font-size: 20px;}
.fn{font-weight: normal;}

/*对齐方式*/
.tc{text-align: center;}
.tl{text-align: left;}
.tr{text-align: right;}

.fl{float: left;}
.fr{float: right;}

/*按钮*/
.btn{width: 100%; display: block; position: relative; background-color: transparent; border:none; height: 42px; line-height: 42px; font-size: 16px; color: #fff; text-align: center; overflow: hidden; border-radius: 6px; -webkit-tap-highlight-color:rgba(0,0,0,0);}
.btn-default{box-shadow:0 0 1px 0 rgba(102,102,102,1); background-color: #fff; color: #666; }/*白色*/
.btn-default:active,.btn-default.active{box-shadow: 0 0 1px 0 rgba(0,0,0,1);}
.btn-info-ghost{box-shadow:0 0 1px 0 rgba(2,176,202,1); background-color: #fff; color: #55c1e7; }/*蓝色幽灵按钮*/
.btn-primary{background-color: #ff814a;}/*首选橙色*/
.btn-primary:active{background-color: #fd773d;}
.btn-info{background-color: #55c1e7;}/*一般信息蓝色*/
.btn-info:active{background-color: #51b8dc;}
.btn-warning{background-color: #c91002;}/*警告*/
.btn-warning:active{background-color: #bb1003;}
.btn-sm{height: 30px; line-height: 30px; font-size: 14px; border-radius: 4px;}
.btn-xs{height: 24px; line-height: 24px; font-size: 12px; border-radius: 3px; padding-left: 12px; padding-right: 12px;}
.btn-noRadius{border-radius: 0}
.btn-loading{background-color: #ccc; color: #fff;}
.btn[disabled],
.btn[disabled]:active,
.btn.disabled,
.btn.disabled:active{background-color: #ccc !important; color: #fff !important;}
.btn-primary.nonactivated,
.btn-primary.nonactivated:active{background-color: #ff814a; color: #ffb398;}
.btn-inline{display: inline-block; padding-left:30px; padding-right: 30px; width: auto;}

.space{height: 6px; overflow: hidden; background-color: #f2f2f2;}
.tips-txt{color: #999; line-height: 20px;}
.price{color: #f60;}

/*tips*/
.tips{padding-left: 12px; padding-right: 12px; background-color: #fff7b3; line-height:20px;}
.tips i[class*=icon-]{margin-right: 5px; float: left;}

/*单选，多选原件*/
.u-radio,.u-checkbox{font-size: 12px; cursor: pointer; padding-left: 20px; line-height: 16px; display: inline-block; vertical-align: middle; position: relative; word-break:break-all; vertical-align: middle;}
.u-radio span,.u-checkbox span{position: absolute; left:0; top: 50%; width: 16px; height: 16px; -webkit-transform:translateY(-50%); transform:translateY(-50%);}
.u-radio span em,.u-checkbox span em{ position: absolute; top: 0; left: 0; width:16px; height: 16px; overflow: hidden; cursor: pointer; border:1px solid #bbb;  text-align: center; font-size: 10px; -webkit-transition:.1s; transition:.1s;}
.u-radio span em{border-radius: 50%; }
.u-checkbox span em{border-radius: 0}
.u-radio span em:before,.u-checkbox span em:before{color: #fff}
.u-radio input,.u-checkbox input{display: none}
.u-radio input:checked+em,.u-checkbox input:checked+em{border-color: #3bb200; background-color: #3bb200; color: #fff}
.m-radio .u-radio{display: block; width: 100%; color: #666; text-align: left;  line-height: 16px; margin-top: 8px; }


.u-switch{ position: relative; width: 44px; height: 26px; display: inline-block; vertical-align: middle; }
.u-switch input{ position:absolute; top: 0; left: 0; width: 200%; height: 200%; border:1px solid #e5e5e5; border-radius: 26px; background-color: #fff; -webkit-transition:.3s; transition:.3s; -webkit-transform:scale(.5); transform:scale(.5); -webkit-transform-origin:0 0; transform-origin:0 0;}
.u-switch input:checked{border-color: #47c978; background-color: #47c978;}
.u-switch input:before{content: ''; position: absolute; top: 0; left: 0;  border-radius: 50%; width: 50px; height: 50px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); background-color: #fff;-webkit-transition:.3s; transition:.3s; -webkit-transform:translateX(0); transform:translateX(0);}
.u-switch input:checked:before{-webkit-transform:translateX(36px); transform:translateX(36px);}
.u-switch input:disabled{background-color: #eee;}
.u-switch input:disabled:before{background-color: #eee;}

.u-amount{width: 94px; height: 24px; overflow: hidden;}
.u-amount a ,.u-amount input{float: left; width:30px; height: 24px; background-color: #f2f2f2; -webkit-tap-highlight-color: rgba(0,0,0,0);}
.u-amount a{display:block;  line-height: 24px; text-align: center; color: #999; font-size: 14px;}
.u-amount a.disabled{color: #d8d8d8; background-color: #f8f8f8; }
.u-amount input{color: #666; font-size: 12px; text-align: center; margin: 0 2px;}



/*清除浮动*/
.container:after,.row:after,.row-full:after,.clearfix:after,.proudct-list-vertical:after{display: block; clear: both; visibility: hidden; height: 0; overflow:hidden; content:" ";}


/*上下边框特殊处理*/
.border-t,.border-b,.border-l,.border-r,.label-act,.form-group,.label-info,.fixed-bottom,.addressList li,.record-tab-con dt, .record-tab-con dd>a,.label-pay,.train-entrance div,.train-entrance a,.silderBar-mall a{position: relative; }
.border-t:before,
.border-b:after,
.border-l:before,
.border-r:after,
.form-group:after,
.label-info:after,
.label-act:after,
.fixed-bottom:before,
.addressList li:before,
.addressList li:after,
.record-tab-con dt:after, 
.record-tab-con dd>a:after,
.label-pay:after,
.train-entrance div:after,
.train-entrance a:after,
.silderBar-mall a:after{content: ''; position: absolute; overflow: hidden; background-color: #e8e8e8;}
.border-t:before,
.border-b:after,
.form-group:after,
.label-info:after,
.label-act:after,
.fixed-bottom:before,
.addressList li:before,
.addressList li:after,
.record-tab-con dt:after, 
.record-tab-con dd>a:after,
.label-pay:after,
.train-entrance div:after,
.silderBar-mall a:after{width: 100%; height: 1px; -webkit-transform:scaleY(0.5); transform:scaleY(0.5);}
.border-l:before,
.border-r:after,
.train-entrance a:after{width: 1px; height: 100%; -webkit-transform:scaleX(0.5); transform:scaleX(0.5);} 
.border-t:before,
.fixed-bottom:before,
.addressList li:before{left:0; top: 0;/*  -webkit-transform-origin:center top; transform-origin:center top; */}/*上边框*/
.border-b:after,
.form-group:after,
.label-info:after,
.label-act:after,
.addressList li:after,
.record-tab-con dt:after, 
.record-tab-con dd>a:after,
.label-pay:after,
.train-entrance div:after,
.silderBar-mall a:after{left:0; bottom: 0;/*  -webkit-transform-origin:center bottom; transform-origin:center bottom; */ }/*下边框*/
.border-l:before{left: 0; top: 0; /* -webkit-transform-origin:left center; transform-origin:left center; */}/*左边框*/
.border-r:after,
.train-entrance a:after{right: 0; top: 0; /* -webkit-transform-origin:right center; transform-origin:right center; */}/*右边框*/

.label-pay:last-child:after,
.info-item:last-child:after{display: none;}

/*弹性盒模型*/
.flexbox, .form-group, .form-label, .popup-ft, .popup-ft>a,.label-info,.label-info label,.label-act a,.label-act-right,.fixed-bottom,.fixed-bottom>a,.user,.label-act-left,.label-act-left i,.addressList li,.addressList footer,.full-link,.property-info,.record-tab-scale,.record-tab-scale a,.record-tab-con dd>a,.order-coupon-item,.order-fixed-bottom,.order-entity-item,.label-pay,.pay-header,.topbar-search-mall,.topbar-search-mall .search,.choice-coupon-item,.buy-single-row,.my-wealth,.wealth-lentrance-item>section,.info-item,.pay-method-item .con,.pay-method-item .info{display: -webkit-box; display: box; -webkit-box-align:center; box-align:center;}

.justify{-webkit-box-pack:justify; box-pack:justify;}
.flex-1{-webkit-box-flex:1; box-flex:1;}
.flex-2{-webkit-box-flex:2; box-flex:2;}

/*form-group*/
.form-group{position: relative; height: 44px; padding-top:4px; padding-bottom: 4px; width: 100%; }
.form-label{font-size: 14px; color: #333; width: 82px; padding-right: 12px; white-space:nowrap;}
.form-label.narrow{width: 70px;}
.form-control-box{position: relative; -webkit-box-flex:1; box-flex:1;}
.form-control{border:none; height:36px; background-color: transparent; padding:0 24px 0 6px; width: 100%; vertical-align: middle;}
select.form-control{position: relative; z-index: 2;}
.form-control-verify{padding-right: 125px;}
.form-control.verify{padding-right: 6px;}
.form-control-right{position: absolute; right: 0; top: 50%; z-index: 0; text-align: center;-webkit-transform:translateY(-50%); transform:translateY(-50%);}
.form-control-right[class*=icon]{width: 24px; height: 24px; line-height:24px; text-align: center; vertical-align: middle; font-size: 16px; border-radius: 50%; -webkit-tap-highlight-color:rgba(0,0,0,0);}
.form-control-right.icon-close:active{background-color: #bbb; color: #fff;-webkit-transition:.2s; transition:.2s;}
.form-control-right.icon-right:active{color: #333; }
.form-code{width: 90px;}
.form-code .btn-info-ghost[disabled]{background-color: #ccc; color: #fff; box-shadow:none;}

/*通道入口布局*/
.label-act{line-height: 16px; background-color: #fff;}
.label-act>a{width: 100%; padding: 14px 12px;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.label-act>a:active{background-color: #e7e7e7; }
.label-act-left{ width:150px; font-size: 14px; }
.label-act-left h2{color:#666; font-weight: normal; }
.label-act-left i{width: 16px; height: 16px; overflow: hidden; background-color: #fff;}
.label-act-right{position: relative; padding-left: 12px; text-align: right; padding-right:20px; color: #999; word-break:break-all; -webkit-box-flex:1; box-flex:1; -webkit-box-pack:end; box-pack:end;}
.label-act-right .point{position: absolute; width: 8px; height: 8px; border-radius: 50%; background-color: #f00;}
.label-act .icon-right.right{ position: absolute; top: 50%;  right: 12px; font-size:16px; -webkit-transform:translateY(-50%); transform:translateY(-50%);}

/*纯文字左右两列展示布局*/
.label-info{position: relative; line-height: 16px; padding-top: 14px; padding-bottom: 14px; background-color: #fff;}
.label-info label{width: 85px; padding-right: 10px; color: #666; vertical-align: top;}
.label-info .txt{font-size: 14px; word-break:break-all; -webkit-box-flex:1; box-flex:1;}

/*登录*/
.login-photo{width: 18%; max-width: 120px; margin: 0 auto; padding-top: 32px; padding-bottom: 20px;}
.login-photo img{display: block; width: 100%;}
.loginmore{margin-top: 50px; text-align: center; color: #999; line-height:20px;}
.loginmore div[class*=col]{padding: 0 12px;}
.loginmore a{color: #999;}
.loginmore i{font-size: 16px; margin: 0 10px;}
.tips-login-top{font-size: 14px; line-height: 20px; padding-top: 14px; padding-bottom: 14px;}

/*底部固定导航*/
.fixed-bottom{position: fixed; width: 100%; left: 0; bottom:0; z-index: 2; text-align: center; height: inherit; background-color: #fff;}
.nav-bottom-holder{width:100%; height:50px; z-index: 2;}
.nav-main a{font-size: 10px; height: 100%; color: #666; -webkit-box-flex:1; box-flex:1; -webkit-box-orient:vertical;
	box-orient:vertical; -webkit-box-pack:center; box-pack:center; -webkit-tap-highlight-color:rgba(0,0,0,0);}
.nav-main i{position: relative; width: 24px; height: 24px;	display: block; margin: 0 auto;  text-align: center; font-size: 20px; color: #999;}
.nav-main .current, .nav-main .current i:before{color: #ff814a}
.nav-main .point:after{content: ''; position:absolute; top: 2px; right: 0; width: 8px; height: 8px; overflow: hidden; border-radius: 50%; background-color: #f00;}

/*通用固定底部*/
.footer-fixed-holder{width: 100%; height: 40px;}
.fixed-bottom .full-link{color: #ff814a; font-size: 14px; height: 100%; -webkit-box-pack:center; box-pack:center; -webkit-box-flex:1; box-flex:1;}
.fixed-bottom .full-link:before{margin-right: 5px;}
.fixed-bottom .full-link:active{background-color: #e7e7e7;}

/*======================================个人中心============================*/
.user{background-color: #ff814a; color: #fff; line-height: 18px; padding:12px;}
.user-photo{width: 60px; height: 60px; margin-right: 12px; vertical-align: middle;}
.user-photo a,.user-photo img{display: block; width: 60px; height: 60px; position: relative; border-radius: 50%;}
.user-photo img{border-radius: 50%;}
.user-photo a:after{content:''; width: 18px; height: 18px; position: absolute; right: 0; bottom: 0; border-radius: 50%; background:url(../img/icon-my.png) no-repeat 1px -111px rgba(0,0,0,.4); -webkit-background-size: 16px auto; background-size: 16px auto;}
.user-txt{-webkit-box-flex:1; box-flex:1;}

.login-reset-user a:after{display: none;}
.login-reset-user{background-color: #f2f2f2; color:#333;}
.login-reset-user .user-photo a{background-color: #999;}

.label-act-left .ico-pic{margin-right: 8px; background: url(../img/icon-my.png) no-repeat; -webkit-background-size: 16px auto; background-size: 16px auto;} 
.ico-pic.order{background-position: center 0;}
.ico-pic.property{background-position: center -16px;}
.ico-pic.card{background-position: center -32px;}
.ico-pic.tel{background-position: center -48px;}
.ico-pic.resetPw{background-position: center -64px;}
.ico-pic.security{background-position: center -80px;}
.ico-pic.address{background-position: center -96px;}
.ico-pic.serviceTel{background-position: center -128px;}
.label-act .logout{color: #ff814a; font-size: 16px; -webkit-box-pack:center; box-pack:center;}

.addressList li{background-color: #fff; padding-top: 10px; padding-bottom: 10px; margin-bottom: 6px;}
.addressList .content,.addressList header>div{-webkit-box-flex:1; box-flex:1;}
.addressList li:nth-of-type(1):before{display: none;}
.addressList .content{padding-right: 6px;}
.addressList li>div:last-child{padding-right: 0;}
.addressList header{font-size: 14px; color: #333; }
.addressList .address-txt{ padding-top:6px;  line-height: 18px;}
.addressList .address-txt span{background-color: #f60; font-size: 10px; color: #fff; border-radius: 4px; padding-left: 4px; padding-right: 4px; margin-right: 5px;}
.addressList .unavailable,.addressList .unavailable header{color: #999;}
.addressList .unavailable .address-txt span{ background-color: #ddd;}
.addressList footer{ padding-top: 7px; margin-top: 6px;}
.addressList .u-radio{width: 120px; color: #999;}
.addressList .btns{-webkit-box-flex:1; box-flex:1;}
.addressList .btns button{margin-left: 4px; display: inline-block; padding-left:10px; padding-right: 10px; width: auto;}
.addressList .checked{width: 32px; }
.addressList .checked i{color: #f60; font-size: 18px;}
.addressList .operation{width: 38px; }
.addressList .operation a{font-size: 24px;}

.property-info{background-color: #fff; height: 60px; padding-left: 12px; padding-right: 12px;}
.property-surplus{-webkit-box-flex:1; box-flex:1;}
.property-surplus span{font-size: 16px; color: #f60;}
.property-control{width: 72px;}

.record-detail{background-color: #fff; padding-top: 10px; overflow: hidden;}
.record-tab{width: 100%; height: 26px; overflow: hidden; margin-bottom: 6px;}
.record-tab-scale{width: 200%; height: 200%; border: 1px solid #ff814a;  text-align: center; overflow: hidden; border-radius: 12px; -webkit-transform:scale(.5); transform:scale(.5); -webkit-transform-origin:0 0; transform-origin:0 0;}
.record-tab-scale a{border-right:1px solid #ff814a; color: #ff814a; font-size: 24px; height: 100%; -webkit-box-flex:1; box-flex:1; -webkit-box-pack: center; box-pack: center; -webkit-transition:.2s; transition:.2s;}
.record-tab-scale a:nth-of-type(1){border-radius: 12px 0 0 12px;}
.record-tab-scale a:nth-last-of-type(1){border-color: #fff; border-radius: 0 12px 12px 0;}
.record-tab-scale a.active{background-color: #ff814a; color:#fff;}
.record-tab-con{background-color: #fff;}
.record-tab-con dl{margin-bottom: 8px;}
.record-tab-con dl:nth-last-of-type(1){margin-bottom: 0;}
.record-tab-con dt{padding: 0 12px 6px;}
.record-tab-con dd{padding-left: 12px; padding-right: 12px;}
.record-tab-con dd>a{padding-top: 12px; padding-bottom: 12px; -webkit-tap-highlight-color:rgba(0,0,0,0);}
.record-tab-con dd:active{background-color: #e7e7e7;}
.record-tab-con dd:nth-last-of-type(1)>a:after{display: none;}
.record-tab-con .record-time{color: #999; width: 28%; min-width: 60px;}
.record-tab-con .record-control{color: #666; min-width: 70px; text-align: right; padding-right: 15px; -webkit-box-flex:1; box-flex:1;}
.record-tab-con .record-control span{color: #55c1e7;}
.record-tab-con div:nth-of-type(2){color: #666; -webkit-box-flex:4; box-flex:4;}
.record-tab-con div:nth-last-of-type(1){-webkit-box-flex:1; box-flex:1;}
#loading-more{font-size: 10px; color: #ccc; padding-top: 8px; padding-bottom: 8px; line-height: 16px; text-align: center;}
#loading-more .loading{display: inline-block; margin-right: 5px; width:16px; height: 16px; overflow: hidden; vertical-align: middle; background: url(../img/loading.gif) no-repeat; -webkit-background-size: 16px auto; background-size: 16px auto;}

.transaction-state{ background-color: #fff; padding-top: 10px; height: 96px;}
.transaction-state .state-info{color: #999; margin-bottom: 10px;}
.transaction-state .state-handle{color: #333; font-size: 30px; padding-left: 10px;}

.transaction-detail-list .label-info{padding-left: 12px; padding-right: 12px;}
.transaction-detail-list .label-info .txt{color: #999;}

.order-month{padding-left: 12px; padding-right: 12px; height: 26px; line-height: 26px; font-weight: normal; color: #666;}
.order-list-item{background-color: #fff; padding-left: 12px; padding-right: 12px; margin-bottom: 6px;}
.order-list-item:nth-last-of-type(1){margin-bottom: 0;}
.order-list-item-hd{height: 32px; color: #999; display: -webkit-box; display: box; -webkit-box-align:center; box-align:center;}
.order-list-item-hd div,.order-list-item-bd .item-nums{-webkit-box-flex:1; box-flex:1;}
.order-list-item-hd div:nth-last-of-type(1){text-align: right;}
.order-list-item-bd{padding: 10px 0; display: -webkit-box; display: box;}
.order-list-item-bd .item-img{width: 48px; height: 48px; overflow: hidden; }
.order-list-item-bd .item-img img{width: 100%;}
.order-list-item-bd .item-info{margin-left: 12px; margin-right: 12px; width: 55%; line-height: 16px;}
.order-list-item-bd .item-info .title{height:32px; overflow: hidden;}
.order-list-item-bd .item-info .time{color: #999;}
.order-list-item-bd .item-nums{text-align: right;}
.order-list-item-ft{text-align: right; height: 30px; line-height: 30px;}
.order-list-item-ft span{font-size: 14px;}

.order-info{background-color: #fff; font-size: 14px; padding-left: 12px; padding-right: 12px;}
.order-state{height: 42px;}
.order-state:before{margin-right: 8px; position: relative; top: 1px;}
.order-state.completed{color:#47c978;}
.order-state.delivered, .order-state.paid{color: #3fb405;}
.order-state.canceled:before{content: "\e611"; }
.order-state.completed:before, .order-state.delivered:before, .order-state.paid:before{content: "\e604";}
.consignee-info{padding-top: 12px; padding-bottom: 12px; -webkit-tap-highlight-color:rgba(0,0,0,0);}
.consignee-info .icon-location{margin-right: 8px;}
.consignee-info[data-skip-url] .icon-location{color:#ff844e;}
.consignee-info .icon-right{margin-left: 6px;}
.consignee-info-txt .important{color: #333;}
.consignee-info-txt,.consignee-info-txt .important div{-webkit-box-flex:1; box-flex:1;}
.consignee-info-txt .address{font-size: 12px; margin-top: 6px;}

.order-detail{background-color: #fff;}
.order-detail header{height: 42px; font-size: 14px; color: #333;}
.order-detail header:before{margin-right: 8px; color: #bbb; font-size: 16px;}
.order-coupon-item{padding: 12px; background-color: #f8f8f8; margin-bottom: 4px;}
.order-coupon-item:nth-last-of-type(1){margin-bottom: 0;}
.coupon-img{width: 64px; height: 64px; padding-top: 36px; margin-right: 10px; overflow: hidden; background:url(../img/icon-coupon.png) no-repeat; -webkit-background-size: 100% auto; background-size: 100% auto; color: #fff; text-align: center; font-size: 16px;}
.coupon-img.jd{background-position: 0 0;}
.coupon-img.yhd{background-position: 0 -64px;}
.coupon-img.tmall{background-position: 0 -128px;}
.coupon-img.dangdang{background-position: 0 -192px;}
.coupon-img.amazon{background-position: 0 -256px;}
.coupon-img.ctrip-1{background-position: 0 -320px;}
.coupon-img.ctrip-2{background-position: 0 -384px;}
.coupon-img.suning{background-position: 0 -448px;}
.coupon-img.vip{background-position: 0 -512px;}
.coupon-img.starbucks{background-position: 0 -576px;}
.coupon-img.lefeng{background-position: 0 -640px;}
.coupon-img.yiguo{background-position: 0 -704px;}
.coupon-img.fruitday{background-position: 0 -768px;}
.coupon-img.sm{width: 48px; height: 48px; padding-top: 28px; font-size: 12px;}
.coupon-img.jd.sm{background-position: 0 0;}
.coupon-img.yhd.sm{background-position: 0 -48px;}
.coupon-img.tmall.sm{background-position: 0 -96px;}
.coupon-img.dangdang.sm{background-position: 0 -144px;}
.coupon-img.amazon.sm{background-position: 0 -192px;}
.coupon-img.ctrip-1.sm{background-position: 0 -240px;}
.coupon-img.ctrip-2.sm{background-position: 0 -288px;}
.coupon-img.suning.sm{background-position: 0 -336px;}
.coupon-img.vip.sm{background-position: 0 -384px;}
.coupon-img.starbucks.sm{background-position: 0 -432px;}
.coupon-img.lefeng.sm{background-position: 0 -480px;}
.coupon-img.yiguo.sm{background-position: 0 -528px;}
.coupon-img.fruitday.sm{background-position: 0 -576px;}

.order-coupon-item .coupon-txt{line-height: 16px; -webkit-box-flex:1; box-flex:1; -webkit-align-items:flex-start; align-items:flex-start; -webkit-box-align:start; box-align:start;}
.order-coupon-item .btn-copy{width: 70px; margin-left: 10px;}
.order-cost-detail{padding: 8px 12px; line-height: 18px; background-color: #fff;}
.order-cost-detail .item div{-webkit-box-flex:1; box-flex:1;}
.order-cost-total{padding:12px; line-height: 18px; text-align: right; font-size: 13px;}
.order-cost-total .total{color:#333;}
.order-cost-total .totalstrong{font-size: 16px;}
.order-info-other{padding: 12px; background-color: #fff; color: #999;}

.order-coupon-notpaid .order-coupon-item,.order-entity-item{-webkit-align-items:flex-start; align-items:flex-start; -webkit-box-align:start; box-align:start;}
.order-coupon-notpaid{padding-left: 12px; padding-right: 12px;}
.order-coupon-notpaid .order-coupon-item{ padding-left: 0; padding-right: 0; margin-bottom: 0; background-color: #fff;}
.order-coupon-notpaid .order-coupon-item .coupon-txt p:nth-of-type(1){height:32px;}
.order-coupon-notpaid .order-coupon-item .coupon-txt .price{width: 70px; float: right; text-align: right; color:#666; }

.send-couponinfo-hd{height: 32px; font-size: 12px; color: #333; background-color: #fff; padding-left: 12px; padding-right: 12px;}
.send-couponinfo-bd .order-coupon-item{padding-left: 0; padding-right: 0; background-color: #fff; margin-bottom:0;}
.send-couponinfo-total{font-size: 10px; line-height: 28px; text-align: right; padding-right:12px;}

.order-entity{margin-bottom: -4px; overflow: hidden;}
.order-entity-item{padding: 12px; line-height: 18px;background-color: #f8f8f8;   margin-bottom: 4px;}
.order-entity-item .entity-img{width: 74px; height: 74px; overflow: hidden; margin-right: 10px;}
.order-entity-item .entity-img img{width: 100%;}
.order-entity-item .entity-desc{display: -webkit-box; display: box; -webkit-box-flex:1; box-flex:1; -webkit-box-orient:vertical;
	box-orient:vertical; }
.order-entity-item .entity-pay,.order-coupon-item .coupon-pay{margin-left: 10px; text-align: right;}
.order-entity-item .entity-desc .title{display: -webkit-box; display: box; -webkit-line-clamp: 2; line-clamp: 2; overflow : hidden; text-overflow: ellipsis; -webkit-box-orient:vertical; margin-bottom: 22px; height: 34px;}
.entity-pay .quantity,.entity-desc .sku{ color: #999;}
.order-user-message{padding: 10px 12px;-webkit-box-align:start; box-align:start;}
.order-user-message label{color: #666; font-size: 12px;}
.order-user-message div{-webkit-box-flex:1; box-flex:1;}
.order-user-message input{border: none;}
.order-fixed-bottom{-webkit-box-pack:end; box-pack:end; padding-right: 12px;}
.order-fixed-bottom .btn{width: auto; margin-left: 6px;}

/*没有订单*/
.no-order{width: 100%; position: absolute; left: 0; top: 50%; font-size: 16px; color: #333; -webkit-transform: translateY(-50%); transform:translateY(-50%); text-align: center;}
.no-order:before{display: block; margin:0 auto 12px; width: 110px; height: 110px; line-height: 110px; text-align: center; font-size: 110px; border-radius: 50%; color: #d8d8d8;}
/*直通车*/
.train-entrance-banner{width:100%; height:0; padding-bottom: 31.25%; -webkit-background-size: cover; background-size: cover;}
.train-entrance{background-color: #fff;}
.train-entrance>div{width: 25%; height:84px; overflow: hidden; float: left;}
.train-entrance a{display: block; padding-top: 14px; width: 100%; height: 100%; text-align: center; font-size: 10px; color: #666; }
.train-entrance a:before{content: ''; display: block; margin: 0 auto 6px; width: 40px; height: 40px; background: url(../img/train-entrance.png) no-repeat; -webkit-background-size: 160px auto; background-size: 160px auto;}
.train-entrance .jd:before{background-position: 0 0;}
.train-entrance .yhd:before{background-position: -40px 0;}
.train-entrance .ctrip:before{background-position: -80px 0;}
.train-entrance .tmall:before{background-position: -120px 0;}
.train-entrance .dangdang:before{background-position: 0 -40px;}
.train-entrance .suning:before{background-position: -40px -40px;}
.train-entrance .vip:before{background-position: -80px -40px;}
.train-entrance .amazon:before{background-position: -120px -40px;}
.train-entrance .starbucks:before{background-position: 0 -80px;}
.train-entrance .didi:before{background-position: -80px -80px;}
.train-entrance .yiguo:before{background-position: -120px -80px;}
.train-entrance .fruitday:before{background-position: 0px -120px;}
@media (min-width: 480px){
	.train-entrance>div{width: 16.66666667%;}
}
@media (min-width: 1024px){
	.train-entrance>div{width: 12.5%;}
}
/*关爱商城*/
.top-fixed{height: 44px;}
.topbar-search-mall{ height: 44px; position: fixed; width: 100%; top: 0; left:0; background-color: #fff;}
.topbar-search-mall .icon-tabulation{font-size: 22px; width: 30px; margin-left: -10px; text-align: center; margin-right: 10px; -webkit-tap-highlight-color:rgba(0,0,0,0);}
.topbar-search-mall .icon-tabulation:before{width: 30px;}
.topbar-search-mall .search{height:26px; border-radius: 5px; overflow: hidden; -webkit-box-flex:1; box-flex:1; }
.topbar-search-mall .search .left{ height: 100%; border:none; -webkit-box-flex:1; box-flex:1;}
.topbar-search-mall .search .left input{height: 100%; width: 100%; border:none; background-color: #f2f2f2; padding-left: 10px; padding-right: 10px;  font-size: 12px; border-radius: 0;}
.topbar-search-mall .search .right {width:28px; height: 100%; }
.topbar-search-mall .search .right button{width: 100%; height: 100%; line-height: 26px;  background-color: #d6d6d6; font-size: 16px; color: #b2b2b2;}

.proudct-list{padding: 12px 12px 0;}
.proudct-list-vertical{padding-left: 6px; padding-right: 6px;}
.proudct-list li{line-height: 16px; padding-bottom: 12px;}
.proudct-list a{display: block; width: 100%; background-color: #fff; }
.proudct-list .img{padding-bottom: 100%; height: 0; background:center center; -webkit-background-size: cover; background-size: cover;}
.proudct-list .title{color:#666; font-weight: normal; word-wrap:break-word;}
.proudct-list .price{font-size: 13px;}
.proudct-list .price span{font-size: 10px;}
.proudct-list .market-price{font-size: 10px; color:#999;}
.proudct-list .market-price span{text-decoration: line-through;}
.proudct-list-vertical li{padding-left: 6px; padding-right: 6px; width: 50%; float: left; }
.proudct-list-vertical .img{width: 100%;}
.proudct-list-vertical .txt-info{padding: 6px 8px;}
.proudct-list-vertical .title{height: 32px; display: -webkit-box; display: box; -webkit-line-clamp: 2; line-clamp: 2; overflow : hidden; text-overflow: ellipsis;  -webkit-box-orient: vertical; }
.proudct-list-vertical .price{margin-top: 4px;}
.proudct-list-gatmall .txt-info{height: 80px;}
.proudct-list-horizontal>li>a{height: 112px;}
.proudct-list-horizontal .img{width: 112px; float: left; padding-bottom: 112px; margin-right: 10px;}
.proudct-list-horizontal .txt-info{height: 100%; padding:8px 10px 8px 0; overflow: hidden;}
.proudct-list-horizontal .title{height: 64px;}
@media (min-width: 480px){
	.proudct-list-vertical li{width: 33.333333%;}
}
@media (min-width: 1024px){
	.proudct-list-vertical li{width: 25%;}
}

.silderBar-mall{position: absolute; top: 44px; left: 0; width:100%; bottom: 0; background-color: rgba(0,0,0,.3); display: none;}
.silderBar-mall .list{width: 60px; height: 100%; overflow: hidden; background-color: #f2f2f2; position: relative; -webkit-transform:translateX(-100%); transform:translateX(-100%); -webkit-transition:.2s; transition:.2s;}
.silderBar-mall .list:before{content:''; position: absolute; display: block; width:0;height: 0; overflow: hidden; border-width:0 5px 5px 5px; border-style: solid dashed; border-color: #f2f2f2 transparent; top: -5px; left: 50%; margin-left: -10px;}
.silderBar-mall a{display: block; height: 42px; line-height: 42px; width: 100%; text-align: center; color: #666; z-index: 1; -webkit-tap-highlight-color:rgba(0,0,0,0);}


/*消息*/
.news-list-item{-webkit-tap-highlight-color:rgba(0,0,0,0); display: block;}
.news-list-item .time{height: 44px; line-height: 44px; text-align: center; color: #999;}
.news-item-con{background-color: #fff;}
.news-item-con .hd{padding: 12px 12px 10px; font-size: 14px; position: relative;}
.news-item-con .hd:before{margin-right: 10px;}
.news-item-con .bd{padding: 10px 12px; color: #999; }
.news-item-con .bd img{width: 100%;}
.news-item-con .bd p{ /* min-height: 50px; */}
.news-item-con .bd span{float: right; color: #999;}
.news-item-con .bd span i{font-size: 12px;}
.news-detail{padding-top: 12px; padding-bottom: 12px;}
.news-detail-title{font-size: 16px; color: #666; line-height: 24px;}
.news-release-time{font-size: 12px; color: #999; line-height: 20px; margin-top: 2px; margin-bottom: 10px;}
.news-release-time i{font-size: 14px; float: left; margin-right: 4px;}
.news-detail-content{font-size: 12px; line-height: 22px; color: #666;}
.news-item-con .point{height: 6px; width: 6px; position: absolute; top: 50%; margin-top: -3px; border-radius:50%; background-color: #f00; right: 12px;}

/*物流*/
.logistics-info label,.logistics-info .txt{color: #333;}

/*资产明细*/
.property-item-t .icon-property,.wealth-item i,.wealth-lentrance-title i,.wealth-lentrance-item .amount{background: url(../img/icon-property.png) no-repeat; -webkit-background-size: 188px auto; background-size: 188px auto;}
.property-item-list{padding-top:12px;}
.property-item{margin-bottom: 12px; border-radius:4px; box-shadow:0 0 1px 0 rgba(102,102,102,1); overflow: hidden;}
.property-item-t{padding: 8px 12px 14px; background:url(../img/bg-property-item.png) repeat-x left bottom #e9e9e9; -webkit-background-size: 10px auto; background-size: 10px auto;}
.property-item-t{display: -webkit-box; display: box; -webkit-box-align:end; box-align:end;}
.property-item-t .icon-property{width: 40px; height: 40px;  border-radius: 50%;}
.property-item-t .icon-property.gatIntegral{background-color: #ff814a; background-position: 0 0;}
.property-item-t .icon-property.coupon{background-color: #3fb462; background-position: 0 -40px;}
.property-item-t .icon-property.welfareIntegral{background-color: #c75287; background-position: 0 -80px;}
.property-item-t .icon-property.cash{background-color: #eca359; background-position: 0 -120px;}
.property-item-t .icon-property.entertainment{background-color: #7a72e4; background-position: 0 -160px;}
.property-item-t .icon-property.usecar{background-color: #699bef; background-position: 0 -200px;}
.property-item-t .icon-property.consume{background-color: #eb7373; background-position: 0 -240px;}
.property-item-t .surplus{text-align: right; -webkit-box-flex:1; box-flex:1; font-size: 20px; color: #333;}
.property-item-t .surplus span{font-size: 12px;}
.property-item-b{background-color: #fff; padding:10px 12px;}
.property-item-b h2{font-size:16px;}
.property-item-b .desc{color: #999; -webkit-box-flex:1; box-flex:1;}

.my-wealth{background-color: #fff; padding: 15px 0;}
.wealth-item{-webkit-box-flex:1; box-flex:1;  font-size: 14px; padding-left: 12px; padding-right: 12px; color: #999;}
.wealth-item i{width: 32px; height: 32px; display: inline-block;}
.wealth-item .point{background-position: -40px -60px;}
.wealth-item .coupon{background-position: -72px -60px;}
.wealth-item .cash{background-position: -104px -60px;}
.my-wealth01{background-color: #ff814a; color: #fff; padding-top: 30px; padding-bottom: 45px; text-align: center;}
.my-wealth01 h3{color: #fff; font-weight: normal; display: inline;}
.my-wealth01 .wealth-item{padding: 0; color: #fff;}
.my-wealth01 .wealth-item i{width: 60px; height: 60px; display:block; margin:0 auto 20px;}
.my-wealth01 .wealth-item .point{background-position: -40px 0;}
.my-wealth02 h3{font-size: 16px;}
.my-wealth02 .wealth-item i{float: left; margin-right: 8px; margin-top: 3px;}
.my-wealth03 .wealth-item{text-align: center;font-size: 12px;}
.my-wealth03 .wealth-item i{margin-bottom: 3px;}

.wealth-lentrance-list{overflow: hidden; background-color: #fff;}
.wealth-lentrance-title{height: 27px; padding-top: 5px; line-height: 22px; background-color: #f2f2f2; font-size: 12px; text-align: center;}
.wealth-lentrance-title i{display: inline-block; width: 14px; height: 14px; overflow: hidden; margin-right: 5px; position: relative; top: 2px;}
.wealth-lentrance-title.gatintegral{color: #ff814a;}
.wealth-lentrance-title.gatintegral i{background-position: -40px -95px;}
.wealth-lentrance-title.coupon{color: #3fb462;}
.wealth-lentrance-title.coupon i{background-position: -68px -95px;}
.wealth-lentrance-item{width: 50%; float: left; height: 80px; overflow: hidden; background-color: #fff; position: relative;}
.wealth-lentrance-item>section{height: 100%; padding: 0 12px; position: relative;}
.wealth-lentrance-item .txt{-webkit-box-flex:1; box-flex:1; line-height: 20px; padding-right: 6px;}
.wealth-lentrance-item .txt h3{font-weight: normal;font-size: 14px; height: 20px; width: 100%;overflow: hidden; margin-bottom: 4px;}
.wealth-lentrance-item .txt p{color: #999; line-height: 16px;}
.wealth-lentrance-item .txt .only-point{color:#bbb; font-size: 8px; height: 12px; line-height: 12px; overflow: hidden; border:1px solid #bbb; border-radius: 6px; text-align: center; padding-left: 5px; padding-right: 5px; display: inline;}
.wealth-lentrance-item.gzshph h3{color: #6b6fde;}
.wealth-lentrance-item.ztc h3{color: #3db9e3;}
.wealth-lentrance-item.qyzx h3{color: #3fbc80;}
.wealth-lentrance-item.mall h3{color: #f13337;}
.wealth-lentrance-item.zq h3{color: #6b6fde;}
.wealth-lentrance-item.dw h3{color: #28b470;}
.wealth-lentrance-item.sr h3{color: #ff543d;}
.wealth-lentrance-item.fn h3{color: #ff7e59;}
.wealth-lentrance-item.et h3{color: #fb566d;}
.wealth-lentrance-item.rz h3{color: #13ae67;}
.wealth-lentrance-item.gq h3{color: #e81c2c;}
.wealth-lentrance-item.ty h3{color: #3dabff;}
.wealth-lentrance-item.cj h3{color: #ff3300;}
.wealth-lentrance-item.sd h3{color: #22ac38;}
.wealth-lentrance-item.tj h3{color: #36c1f0;}
.wealth-lentrance-item .ico{width: 45px; height: 45px; background: url(../img/icon-wealth-lentrance.png) no-repeat; -webkit-background-size: 45px auto; background-size: 45px auto; }
.wealth-lentrance-item.gzshph .ico{background-position: 0 0;}
.wealth-lentrance-item.ztc .ico{background-position: 0 -45px;}
.wealth-lentrance-item.qyzx .ico{background-position: 0 -90px;}
.wealth-lentrance-item.mall .ico{background-position: 0 -135px;}
.wealth-lentrance-item.zq .ico{background-position: 0 -180px;}
.wealth-lentrance-item.dw .ico{background-position: 0 -225px;}
.wealth-lentrance-item.sr .ico{background-position: 0 -270px;}
.wealth-lentrance-item.fn .ico{background-position: 0 -315px;}
.wealth-lentrance-item.cj .ico{background-position: 0 -360px;}
.wealth-lentrance-item.et .ico{background-position: 0 -405px;}
.wealth-lentrance-item.rz .ico{background-position: 0 -450px;}
.wealth-lentrance-item.tj .ico{background-position: 0 -495px;}
.wealth-lentrance-item.gq .ico{background-position: 0 -540px;}
.wealth-lentrance-item.ty .ico{background-position: 0 -585px;}
.wealth-lentrance-item.sd .ico{background-position: 0 -630px;}
.wealth-lentrance-item.af .ico{background-position: 0 -675px;}
.wealth-lentrance-item .amount{position: absolute; top: 0; right: 5px; width: 14px; height: 18px; overflow: hidden; background-position: -104px 0; font-style: normal; font-size: 10px; color: #fff; text-align: center; line-height: 14px;}

/*企业专享*/
.enterprise-vip-banner{background-color: #f5fcff;}
.enterprise-vip-banner img{width: 100%; max-width: 414px; display: block; margin: 0 auto;}
.enterprise-vip-list{overflow: hidden;}
.enterprise-vip-list .item{ width: 25%; height: 84px; float: left;}
.enterprise-vip-list .item a{display: block; width: 100%; height: 100%; color: #666; font-size: 10px; text-align: center; padding-top: 14px;}
.enterprise-vip-list .item i{width: 40px; height: 40px; display: block; overflow: hidden; margin: 0 auto; background: url(../img/enterprise-vip-list.png) no-repeat; -webkit-background-size: 40px auto; background-size: 40px auto; margin-bottom: 6px;}
.enterprise-vip-list .item .sjcz{background-position: 0 0;}
.enterprise-vip-list .item .shjf{background-position: 0 -40px;}
.enterprise-vip-list .item .xykhk{background-position: 0 -80px;}
/*======================================个人中心============================*/



/*支付*/
.freeback{text-align:center; padding-top: 70px; padding-bottom: 20px;}
.freeback [class*="icon-"]{font-size: 100px;line-height: 1;}
.freeback.success [class*="icon-"]{color: #47c978;}
.freeback.error [class*="icon-"]{color: #d8d8d8;}
.freeback .txt{font-size: 16px; color: #333; margin-top:12px; margin-bottom: 6px;}
.freeback.success{padding-top: 30px; padding-bottom: 30px; background-color: #fff;}

.pay-header{line-height: 18px; padding-top: 15px; padding-bottom: 15px; background: #fff; font-size: 14px; padding-left: 12px; padding-right: 12px;}
.pay-header{-webkit-box-align:start; box-align:start;}
.pay-header>div{-webkit-box-flex:1; box-flex:1; }
.pay-header div:nth-of-type(1){min-width: 100px;}
.label-pay{padding-top: 11px; padding-bottom: 11px; min-height: 48px;}
.label-pay .left{-webkit-box-flex:3; box-flex:3; font-size: 14px;}
.label-pay .right{-webkit-box-flex:2; box-flex:2; text-align: right;}
.pay-fixed-bottom .info{-webkit-box-flex:5; box-flex:5; text-align: left; padding-left: 12px; color: #333; font-size: 13px;}
.pay-fixed-bottom .info .price{font-size: 16px;}
.pay-fixed-bottom div:nth-of-type(2){-webkit-box-flex:3; box-flex:3; }
.pay-fixed-bottom .btn{background-color: #ff814a; border-radius: 0; height: 40px; line-height: 40px; overflow: hidden;  z-index: 2; font-size: 14px;}

.pay-end-info{background-color: #fff; padding-top: 6px; padding-bottom: 6px;}
.strict-label-item{padding-top: 2px; padding-bottom: 2px; line-height: 18px;}

.pay-view{position: absolute; top: 0; left: 0; bottom: 0; right: 0; overflow: hidden;}
.pay-methods{background-color: #fff;}
.pay-method-item{height: 56px; position: relative; color: #666; display: block; font-size: 14px; -webkit-tap-highlight-color:rgba(0,0,0,0); }
.pay-method-item .con{height: 56px; position: relative; margin-left: 12px; margin-right: 12px; padding-right: 20px;}
.pay-method-item .right{position: absolute; right: 12px; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%);}
.pay-method-item .info{-webkit-box-flex:1; box-flex:1;}
.pay-method-item .info img{display: block; margin-right: 12px; width: 18px; height: 18px;}
.pay-method-item input{opacity: 0; position: absolute;}
.pay-method-item .icon-check{font-size: 12px; color: #fff; width: 18px; height: 18px; line-height: 18px; text-align: center; border:1px solid #bbb; background-color: #fff; border-radius: 50%;}
.pay-method-item input:checked + .icon-check{border-color: #47C978; background-color: #47C978;}
.chooseMethodTit{height: 40px; color: #333; font-size: 14px;font-weight: normal; line-height: 40px;}
.pay-method-item .label-msg{display: block; font-size: 10px; color: #999; height: 14px; line-height: 14px; border:1px solid #979797; border-radius: 2px; font-style: normal; margin-left: 8px; padding-left: 4px; padding-right: 4px;}
.pay-method-item .label-msg.free{border:1px solid #f60; color: #f60;}
.pay-method-item.disabled{color: #999; background-color: #F8F8F8;}
.pay-method-item.disabled .con{padding-right: 0; }
.pay-method-item.disabled .info img{-webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); filter: grayscale(100%); 
filter: gray;}
.consolidated-order{padding-right: 18px; position: relative; }
.consolidated-order i{height: 0; width: 0; overflow: hidden; border-style: solid dashed; border-width: 6px 6px 0; border-color: #ddd transparent; position: absolute; right: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); -webkit-transform-origin: center 2px; transform-origin: center 2px; transition:0.3s;}
.consolidated-order.on i{-webkit-transform:rotate(180deg); transform:rotate(180deg); }
.consolidated-order-list{display: none; }
.consolidated-order-list .info-item .left{-webkit-box-flex:1; box-flex:1; padding-right: 20px; height: 20px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.consolidated-order-list .info-item{color: #999;}
.chooseGatMethod{-webkit-transform: translateX(100%); transition:.3s}
.chooseGatMethod.show{-webkit-transform: translateX(0);}



/*=======================================统一商品兑换======================================*/
.choice-coupon-hd{height: 32px; overflow: hidden; padding-top: 10px; font-size:13px; color: #333; }
.choice-coupon-hd small{font-size: 12px; color: #999; margin-left: 6px;}
.choice-coupon-item{padding-top: 12px; padding-bottom: 12px;}
.coupon-txt-info{-webkit-box-flex:1; box-flex:1; line-height: 20px;}
.coupon-txt-info .title{height: 40px; overflow: hidden;}
.coupon-txt-info .control{line-height: 24px;}
.coupon-txt-info .price{font-size: 13px;}
.coupon-txt-info .price em{font-size:10px; font-style: normal;}

/*节日兑换券*/
.bg-festival{padding-top: 30%; background: top center no-repeat; -webkit-background-size: 100% auto; background-size: 100% auto; }
.bg-festival.duanwu{background-image:url(../img/festival/duanwu.jpg); background-color: #f7f6e9;}
.bg-festival.children{background-image:url(../img/festival/children.jpg); background-color: #ea6390;}
.bg-festival.lady{background-image:url(../img/festival/lady.jpg); background-color: #fff6f8;}
.bg-festival.birthday{background-image:url(../img/festival/birthday.jpg); background-color: #fff3f0;}
.bg-festival.nianhuo{background-image:url(../img/festival/nianhuo.jpg); background-color: #fbeedd;}
.bg-festival.currency{background-image:url(../img/festival/currency.jpg); background-color: #fffed8;}
.bg-festival.mid-autumn{background-image:url(../img/festival/autumn.jpg); background-color: #fff4ff;}
.bg-festival.entry{background-image:url(../img/festival/ruzhi.jpg); background-color: #fffddd;}

/*商品详情*/
.product-info{padding-top: 8px; padding-bottom: 8px;}
.product-info h1{font-size: 14px; line-height: 20px; overflow : hidden; text-overflow: ellipsis;  display: -webkit-box; display: box; -webkit-line-clamp: 2; line-clamp: 2; -webkit-box-orient: vertical;}
.product-info ul{padding-top: 2px; color: #999;}
.product-info li{-webkit-box-pack:justify; box-pack:justify;}
.product-info .price{font-size: 18px;}
.product-info .price span{font-size:12px;}
.product-info .market-price span{text-decoration: line-through;}

.buy-single-row{padding:12px; background-color: #fff;line-height: 18px;}
.buy-single-row.lg{-webkit-box-align:start; box-align:start;}
.buy-single-row.lg{line-height: 24px;}
.buy-single-row .title{width: 76px; }
.buy-single-row .content{position: relative; -webkit-box-flex:1; box-flex:1; }
.buy-single-row .content select{font-size: 12px; height: 18px; width: 100%; border: none; }
.buy-single-row .inventory{color: #999;}
.sku-group{width: 100%;}
.sku-group label{float: left; height:24px; line-height: 24px;  margin-right: 10px; margin-bottom:8px; }
.sku-group label span{padding-left:10px; padding-right: 10px; background-color: #f2f2f2; color:#666; border-radius: 5px; display: block; -webkit-transition.3s; transition.3s;}
.sku-group label input{display: none;}
.sku-group label input[disabled]+span{color: #ccc;}
.sku-group label input:checked+span{background-color: #ff814a; color: #fff;}
.product-des{padding-top: 12px; padding-bottom: 12px;}
.product-des-title{font-size: 12px; font-weight: normal; color: #666; height: 30px; line-height: 30px;}
.product-des-con{font-size: 12px; color: #999;}
.product-des img{width: 100%;}

.info-list{ background-color: #fff;}
.info-item{font-size: 14px; color: #666; -webkit-box-align:start; box-align:start; line-height: 20px; padding-top: 14px; padding-bottom: 14px;}
.info-item .left{width: 50%}
.info-item .right{-webkit-box-flex:1; box-flex:1; }

/*弹层*/
.popup-mask,.pop-slide-up{background-color: rgba(0,0,0,.3); position: fixed; width: 100%; height: 100%; overflow: hidden; display: none; top: 0; left: 0;  z-index: 10}
.pop-slide-up{position: absolute;}
.popup-mask{z-index: 99;}
.pop-slide-con{padding:0 12px 12px; position: absolute; background-color: #fff; top: 100%; left: 0; width: 100%; -webkit-transition:.2s; 
	transition:.2s;}
.pop-slide-hd{position: relative; line-height: 20px; text-align: center; padding: 16px 40px;}
.pop-slide-hd h3{ font-size: 16px;}
.pop-slide-hd p{ color: #666;}
.pop-slide-bd{padding-bottom: 16px; }
.pop-slide-ft{padding-top: 10px;}
.pop-slide-hd .close{position: absolute; left: 12px; top: 14px; font-size: 24px; width: 26px; height: 26px; line-height: 26px; overflow: hidden; text-align: center;}

.popup-container{width: 74%; position: fixed; top: 40%; left: 50%; display: none; overflow: hidden; border-radius: 12px;  text-align: center; z-index: 999;	-webkit-transform:translateX(-50%) translateY(-50%); transform:translateX(-50%) translateY(-50%);}
.popup-con{width: 100%; background-color: #fff; overflow: hidden; border-radius: 12px; padding-top: 16px; }
.popup-hd{font-size: 15px; text-align: center; color: #333; font-weight: bold;}
.popup-bd{padding: 4px 20px 20px 20px; text-align: center; line-height: 18px; }
.popup-ft{background-color: #fff; height: 44px; overflow: hidden; border-radius:0 0 12px 12px; }
.popup-ft>a{ height: 44px; color: #2181f7; font-size: 15px; font-weight: bold; -webkit-box-flex:1; box-flex:1; -webkit-box-pack:center; box-pack:center; -webkit-tap-highlight-color:rgba(0,0,0,0);} 
.popup-ft>a:active{color: #0072ff;}
.popup-con-notfiy{ position: fixed; top: 40%; left: 50%; min-width: 100px; display: none; border-radius: 12px; padding: 10px 15px; opacity:0; background-color: rgba(0,0,0,0.8); color: #fff; -webkit-transition:.2s opacity; transition:.2s opacity; z-index: 999; -webkit-transform:translateX(-50%) translateY(-50%); transform:translateX(-50%) translateY(-50%); text-align: center;}
.popup-con-notfiy .popup-bd{padding-top: 15px; padding-bottom: 15px;}
.popup-loading{margin: 0 auto; padding-bottom: 50%; background: url(../img/loading-lg1.gif) no-repeat center center #fff; -webkit-background-size: 50px auto; background-size: 50px auto;}

.swiper-container img{max-width: 100%; max-height: 100%;}
.swiper-container .swiper-wrapper{max-height: 414px;}
.swiper-container .swiper-slide{ height: 100%; display: -webkit-box; display: box; -webkit-box-align:center; box-align:center; -webkit-box-pack:center; box-pack:center;}


.message{height: 24px; line-height: 24px; position: fixed; width: 100%; left: 0; top:0; background-color: #fff7b3; -webkit-tap-highlight-color:rgba(0,0,0,0); padding-right: 6px;}
.message .icon-remind{width: 30px; text-align: center; color: #ee8d78}
.message-con{display: -webkit-box; display: box; height: 24px; line-height: 24px; -webkit-box-flex:1; box-flex:1; -webkit-line-clamp: 1; line-clamp: 1; overflow : hidden; text-overflow: ellipsis; -webkit-box-orient:vertical;}
.message .btn-detail{color: #55c1e7;}


.temporary-free{font-size: 10px; height:16px; line-height: 16px; border:1px solid #f60; color: #f60; padding-left: 4px; padding-right: 4px; border-radius: 2px; margin-left: 5px;}

/*电子票提示信息*/
.top-remind{padding:0 12px; color: #333; line-height: 24px; display: block; background-color: #f9f9f9; height: 24px; overflow: hidden;}
.top-remind .icon-remind{color:#ec8171; width: 24px; float: left;}
.remind-content{margin-left: 24px;}
.remind-info{width: 100%; overflow: hidden; height: 24px; padding-right: 25px; background: url(../img/icon-remind-detail.png) no-repeat right center; -webkit-background-size: auto 2px; background-size: auto 2px;}


